@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* FUENTES */
  @font-face{
      font-family: "TrebuchetMS";
      src: url('fonts/TrebuchetMS.ttf');
      font-weight: normal;
      font-style: normal;
  }

  @font-face{
      font-family: "BebasNeue";
      src: url('fonts/BebasNeue.otf');
      font-weight: normal;
      font-style: normal;
  }

  @font-face{
      font-family: "WebSymbolsRegular";
      src: url('fonts/websymbols-regular-webfont.eot');
      src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('fonts/websymbols-regular-webfont.woff') format('woff'),
          url('fonts/websymbols-regular-webfont.ttf') format('truetype'),
          url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  .symbol{
    font-family: "WebSymbolsRegular";
  }

  .bebas{
    font-family: "BebasNeue";
  }

  .trebuche{
    font-family: "TrebuchetMS";
  }
}

@layer components{
  .main-header{
    @apply h-20
           bg-black
           text-white
           bebas
           xxs:h-52;
  }

  .header{
    @apply container 
           w-11/12 
           mx-auto 
           flex 
           md:flex-row 
           xxs:flex-col;
  }
  
  .logo{
    @apply w-48
           pt-0.5
           pb-0.5
           ml-10
           mt-4
           text-center
           tracking-wider
           cursor-pointer
           overflow-hidden
           transition
           duration-300
           bg-light-blue
           hover:text-black
           hover:bg-gray-400
           xs:ml-0
           xxs:mx-auto;
  }

  .nut{
    @apply symbol
           block
           float-left
           text-3xl
           mt-1
           ml-11;
  }

  .logo-name{
    @apply block
           float-right
           text-4xl
           mt-1.5
           mr-10
           transition
           duration-100;
  }
  
  .menu{
    @apply flex
           flex-row
           h-20
           items-center
           text-2xl
           text-center
           mr-10
           xs:mr-0
           xs:text-center
           xxs:flex-col
           xxs:mx-auto
           md:justify-end;
  }
  
  .menu-item{
    @apply mr-5 
           ml-5 
           tracking-wider 
           flex-none
           xs:flex-1;
  }

  .menu-item-a{
    @apply block 
           transition 
           duration-200 
           hover:text-light-blue 
           transform hover:scale-125;
  }

  .banner{
    @apply w-full
           h-28
           mx-auto
           border-8
           border-white
           overflow-hidden
           shadow
           m-5
           bg-banner-background
           bg-banner-position;
  }
  
  .text-banner{
    @apply block
           bebas
           text-white
           text-5xl
           font-normal
           tracking-wider
           m-7
           mx-auto
           text-center
           xs:text-3xl
           xs:mt-8
           xxs:text-3xl
           xxs:mt-8;
    text-shadow: 2px 2px 1px black;
  }

  .cards{
    @apply flex 
           flex-nowrap 
           justify-between
           xxs:flex-col;
  }
  
  .card{
    @apply flex-1
           h-80
           border-2
           border-gray-200
           shadow-md
           bg-white
           overflow-hidden
           m-5
           mt-10
           pl-5
           pr-5
           cursor-pointer
           transition
           duration-300
           hover:bg-black
           4xl:h-40
           xs:h-40
           xs:m-2
           xxs:h-6;
  }

  .card-icon{
    @apply block
           symbol
           w-full
           h-32
           text-5xl
           text-center
           mt-12
           mx-auto
           transition
           duration-300
           4xl:mt-6
           4xl:h-20
           xxs:h-10
           xxs:mt-2;
  }

  .card-category{
    @apply w-full
           h-12
           text-xl
           font-bold
           text-center
           text-dark-blue
           transition
           duration-300
           6xl:text-lg           
           5xl:text-sm
           4xl:text-xs
           xs:hidden
           xxs:mt-5
           xxs:text-sm
  }

  .card-description{
    @apply trebuche
           text-center
           text-dark-blue
           text-base
           transition
           duration-300
           6xl:text-sm           
           5xl:text-xs
           4xl:hidden
           xs:hidden
           xxs:hidden;
  }

  .side{
    @apply flex-none 
           w-72 
           min-h-full;
  }

  .articles{
    @apply flex-grow 
           mr-10;
  }

  .articles-header{
    @apply block 
           bebas
           font-normal
           w-full 
           h-20 
           text-center 
           text-4xl 
           tracking-widest 
           pt-5 
           border
           bg-titles;
  }

  .article{
    @apply w-full 
           h-auto 
           bottom-1 
           border-gray-200 
           m-10 
           mx-auto 
           p-2.5 
           bg-white 
           text-black 
           shadow-md;
  }

  .date-category-article{
    @apply float-right 
           bg-gray-700 
           h-10 
           leading-6 
           p-2 
           text-white 
           -m-2.5 
           text-sm 
           rounded-bl-lg;
  }

  .date-category-article span{
    @apply m-2.5;
  }

  .articles-title{
    @apply block 
           text-2xl 
           m-1;
  }

  .article-reference{
    @apply text-light-blue
           font-semibold 
           hover:underline;
  }

  .article-detail{
    @apply block 
           mt-3 
           mb-3 
           text-base 
           font-sans 
           font-normal;
  }

  .title-search{
    @apply block 
           bebas
           h-11 
           leading-10 
           font-normal 
           text-3xl 
           tracking-widest 
           pl-3.5 
           pt-1 
           mb-3.5 
           border
           bg-titles;
  }
}